@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root{

--theme-1: #605DFF;
--btn-1: #2F419D;
--btn-2: #605DFF;
--btn-1: #FFFFFF;
--background-1: #000000;
--background-2t: #FFFFFF;
--text-1: #FFFFFF;
--text-2: #000000;
--font-family: 'Montserrat', sans-serif; 
--color-success: #2ecc71;
--color-error: #e74c3c;
}


.btn-links {
    color: var(--text-1);
    text-align: center;
    font-family: var(--font-family);
    }
    
    .btn-violet {
    background-color: var(--btn-2);
    color: var(--text-1);
    
    }
    .btn-bleu-fonce {
    background-color: var(--btn-1);
    color: var(--text-1);
    }
    .btn-light {
    background-color: var(--btn-1);
    color: var(--text-2);
    }